*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}

nav{
    background:black;
    height:8vh;
    color:white;
    padding-left:20px;
}

nav h1{
    margin:0px;
    line-height: 8vh;
}

main{
    height:92vh;
    display:flex;
}

.inputArea{
    height:100%;
    width:49%;
    overflow: scroll;
    display: inline-block;
    border-right:2px solid grey;
    padding-top:20px;
}

.previewArea{
    height:100%;
    width:50%;
    overflow: scroll;
    display: inline-block;
    padding-top:20px;
}

#editArea{
    width:100%;
    height:90%;
    background-color: white;
    color:#c7caca;
}

.ace_gutter-layer{
    background-color: #ececec;
    color:black;
}

.ace_gutter-active-line{
    background-color: #ececec;
}

#submit{
    background-color: black;
    padding:20px;
    color:white;
    margin-top:10px;
    width:90%;
    margin-left:5%;
}

#submit:hover{
    background-color:#ececec;
    color:black;
}